@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap');

/**
 * Font variables
 */
$raleway: "Raleway", sans-serif;
$base-size: 18;
$base-line-height: 26;
$font-primary: $raleway;
