$gainsboro: #84dcc6;
$lighter-gainsboro: #b8f7e7;
$cpink: #FFE5D9;
$pink: #FFCAD4;
$lpink: #F4ACB7;
$mpink: #f08080;
$darker-mpink: #944a4a;
$white: #ffffff;
$black: #32373B;
$silver: #96939B;
$light-gray: #efefef;
$blue: #aed9e0;
$darker-blue: #53aebd;
